#main-content-1 {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 9px;
    margin-bottom: 9px;
}
#hobby-desc {
    width: 100%;
    height: auto;
    background-color: #ffe6fe;
}
#title-ei {
    font-weight: 600;
    padding-left: 10px;
    padding-right: 5px;
}
#desc-ei {
    padding-left: 10px;
    padding-right: 5px;
}
#photo-ei {
    width: 100%;
    height: auto;
}
#photo-ei img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

